---
layout: home
title: 'Departamento de Engenharia de Materiais - DEMAR'
---

<div class='row'>
    <div class="col-md-12 float-md-right mb-2">
        <a href='{{site.baseurl}}/fronteiras/'><img class='w-100' src='{{site.baseurl}}/assets/images/fronteiras-4/logo.jpeg'></a>
    </div>
    <!--<div class="col-md-6 float-md-right mb-2">
        <a href='https://caef-eel-usp.com.br/' id='no-ext-link'><img class='w-100' src='{{site.baseurl}}/assets/images/semef2022/sbefbannersemef.png'></a>
    </div>-->
</div>

<div class="col-md-6 float-md-right mt-2">
{% include figure.html image='/assets/images/demar/Demar-aereo.jpg' caption='Vista aérea do departamento' id="aa" %}
</div>

<p>O <strong>Departamento de Engenharia de Materiais</strong> (DEMAR) iniciou suas atividades em 1978 com o <strong>Projeto Nióbio</strong> (confira a <a href="{{site.baseurl}}/historico/">nossa história</a>) e desde 2006 integra a <strong>Escola de Engenharia de Lorena</strong> (<abbr title="Escola de Engenharia de Lorena"><a href="https://site.eel.usp.br/" target="_blank">EEL</a></abbr>), uma das Unidades de Ensino e Pesquisa da maior universidade do Brasil, a <strong>Universidade de São Paulo</strong> (<abbr title="Universidade de São Paulo"><a href="https://www5.usp.br/" target="_blank">USP</a></abbr>).</p>

<p>O <abbr title="Departamento de Engenharia de Materiais da EEL-USP">DEMAR</abbr> coordena e ministra as disciplinas específicas dos cursos de graduação em <strong>Engenharia Física</strong> e <strong>Engenharia de Materiais</strong>, além de disciplinas relacionadas à área de materiais do Ciclo Básico da <strong>EEL/USP</strong>. Docentes do departamento também ministram disciplinas e orientam teses e dissertações no <strong>Programa de Pós Graduação em Engenharia de Materiais</strong> (mestrado e doutorado) e no Programa de <strong>Pós Graduação em Projetos Educacionais de Ciências</strong> (mestrado profissional).</p>

<p>As instalações do <abbr title="Departamento de Engenharia de Materiais da EEL-USP">DEMAR</abbr> localizam-se na <strong>Área II da EEL/USP</strong>, na cidade de Lorena, a aproximadamente 200km de São Paulo (<a href="{{site.baseurl}}/contact/">rota de acesso</a>).</p>

<div class="container">

<h1 class="alert bg-dark text-light">Visita virtual ao <abbr title="Departamento de Engenharia de Materiais, Escola de Engenharia de Lorena da Universidade de São Paulo">{{site.title}}</abbr></h1>

<div class="row mb-3">

<div class="col-md-6 mb-3">
{% include video.html video='dhSEwJlq2cM' id='demar' caption='O Departamento de Engenharia de Materiais' %}
</div>

<div class="col-md-6 mb-3">
{% include video.html video='-3ViVIdyq-c' id='eel' caption='A Escola de Engenharia de Lorena' %}
</div>

<a class="btn btn-md btn-primary mt-2" href="{{site.baseurl}}/videos">Mais vídeos</a>

</div>

</div>
