<!-- Footer -->
<footer class="footer font-small bg-dark pt-4">
    <!-- Footer Elements -->
    <div class="container">
      <!-- Call to action -->
      <h5>Escola de Engenharia de Lorena</h5>
      <p>Área I - Estrada Municipal do Campinho, s/nº - Tel.: (12) 3159-5000
      <br>
      Área II - Pólo-Urbo Industrial, Gleba AI-6,s/nº - Tel.: (12) 3159-9900
    </p>
    <p>
CEP 12602-810 &ndash; Lorena - SP</p>
      <!-- Call to action -->
    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
      © {{ site.time | date: '%Y' }}
      <a href="{{site.baseurl}}/{% unless page.lang == site.def_lang %}en/{% endunless %}docentes/luiz-tadeu-fernandes-eleno.html">{{site.author}}</a> &amp; {{ site.title }}
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</body>
</html>
