---
title: Administração
permalink: /adm/
---

<style>
  body {
    text-align: left;
  }
</style>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="chefia-tab" data-toggle="tab" href="#chefia" role="tab" aria-controls="chefia" aria-selected="true">Chefia</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="cd-tab" data-toggle="tab" href="#cd" role="tab" aria-controls="cd" aria-selected="false">Conselho</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="coc-tab" data-toggle="tab" href="#coc" role="tab" aria-controls="coc" aria-selected="false">CoCs</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="chefia" role="tabpanel" aria-labelledby="chefia-tab">

    <h1 class="alert bg-dark text-light">Chefia</h1>

    {% assign find_chefe = site.docentes | where:'short_name', site.data.adm.chefia.chefe %}
    {% assign chefe = find_chefe[0] %}

    {% assign find_vice = site.docentes | where:'short_name', site.data.adm.chefia.vice %}
    {% assign vice = find_vice[0] %}

    <ul>
      <li>Chefe do departamento: <a href="{{site.baseurl}}{{ chefe.url }}">{{ chefe.abrev }} {{ chefe.nome }}</a></li>
      <li>Vice-chefe: <a href="{{site.baseurl}}{{ vice.url }}">{{ vice.abrev }} {{ vice.nome }}</a></li>
    </ul>

    <h2>Secretaria:</h2>

    <p><b>Maria Alice Alves da Silva</b><br />
      :email: <a href="mailto:malice@demar.eel.usp.br">malice@demar.eel.usp.br</a><br />
      :telephone_receiver: +55 12 3159 9902</p>
    <p><b>Giseli Maria de Freitas Salomão Bittencourt de Azevedo</b><br />
      :email: <a href="mailto:malice@demar.eel.usp.br">giseli@demar.eel.usp.br</a><br />
      :telephone_receiver: +55 12 3159 9903</p>

    <hr>

    <dl>
      <dt>Chefe e Vice-chefe:</dt>
      <dd>Eleitos em {{site.data.adm.chefia.eleicao}}</dd>
      <dd>Mandato: {{site.data.adm.chefia.mandato}}</dd>
    </dl>

  </div>

  <div class="tab-pane fade" id="cd" role="tabpanel" aria-labelledby="cd-tab">

    <h1 class="alert bg-dark text-light">Conselho do Departamento</h1>

    <h2>Professores Titulares</h2>

    <ul>
      {% for prof in site.data.adm.conselho.titulares %}
      {% assign find_tit = site.docentes | where:'short_name', prof %}
      {% assign titular = find_tit[0] %}
      <li><a href="{{site.baseurl}}{{ titular.url }}">{{ titular.abrev }} {{ titular.nome }}</a></li>
      {% endfor %}
    </ul>

    <h2>Professores Associados</h2>

    <ul>
      {% for chapa in site.data.adm.conselho.associados %}
      {% assign find_tit = site.docentes | where:'short_name', chapa.titular %}
      {% assign titular = find_tit[0] %}
      {% assign find_sup = site.docentes | where:'short_name', chapa.vice %}
      {% assign suplente = find_sup[0] %}
      <li><a href="{{site.baseurl}}{{ titular.url }}">{{ titular.abrev }} {{ titular.nome }}</a></li>
      <ul>
        <li>Suplente: <a href="{{site.baseurl}}{{ suplente.url }}">{{ suplente.abrev }} {{ suplente.nome }}</a></li>
      </ul>
      {% endfor %}
    </ul>

    <h2>Professores Doutores</h2>

    <ul>
      {% for chapa in site.data.adm.conselho.doutores %}
      {% assign find_tit = site.docentes | where:'short_name', chapa.titular %}
      {% assign titular = find_tit[0] %}
      {% assign find_sup = site.docentes | where:'short_name', chapa.vice %}
      {% assign suplente = find_sup[0] %}
      <li><a href="{{site.baseurl}}{{ titular.url }}">{{ titular.abrev }} {{ titular.nome }}</a></li>
      <ul>
        <li>Suplente: <a href="{{site.baseurl}}{{ suplente.url }}">{{ suplente.abrev }} {{ suplente.nome }}</a></li>
      </ul>
      {% endfor %}
    </ul>

    <h2>Professor Assistente</h2>

    <ul>
      {% for prof in site.data.adm.conselho.assistentes %}
      {% assign find_tit = site.docentes | where:'short_name', prof %}
      {% assign titular = find_tit[0] %}
      <li><a href="{{site.baseurl}}{{ titular.url }}">{{ titular.abrev }} {{ titular.nome }}</a></li>
      {% endfor %}
    </ul>

    <h2>Representante Discente</h2>

    <ul>
      {% for aluno in site.data.adm.conselho.discentes %}
      <li>{{ aluno.titular }}</li>
      <ul>
        <li>Suplente: {{ aluno.vice }}</li>
      </ul>
      {% endfor %}
    </ul>

    <hr>

    <dl>
      <dt>Membros e suplentes:</dt>
      <dd>Eleitos em {{ site.data.adm.conselho.mandatos.docentes.eleicao }}</dd>
      <dd>Proclamação do Resultado: {{site.data.adm.conselho.mandatos.docentes.proclamacao}}</dd>
      <dd>Mandato: {{site.data.adm.conselho.mandatos.docentes.mandato}}</dd>

      <dt>Representante discente:</dt>
      <dd>Mandato: {{site.data.adm.conselho.mandatos.discentes.mandato}}</dd>
    </dl>

  </div>

  <div class="tab-pane fade" id="coc" role="tabpanel" aria-labelledby="coc-tab">


    <h1 class="alert bg-dark text-light">Comissões de curso do DEMAR</h1>

    <div class="container">

      <h2 class="alert bg-dark text-light">Comissão de Coordenação do Curso de Engenharia Física – CoC-EF</h2>

      <ul>
        <li> Coordenador: {% include docente.html docente=site.data.comissoes.coc-ef.coordenador %} </li>
        <ul>
          <li> Vice: {% include docente.html docente=site.data.comissoes.coc-ef.vice %} </li>
        </ul>
      </ul>

      <h3>Composição:</h3>

      <ul>
        {% for prof in site.data.comissoes.coc-ef.membros %}
        <li>{% include docente.html docente=prof.titular %}
          <ul>
            <li>Suplente: {% include docente.html docente=prof.suplente %}</li>
          </ul>
        </li>
        {% endfor %}
        {% for rep in site.data.comissoes.coc-ef.outros %}
        <li>{{ rep.titular }}</li>
        <ul>
          <li>Suplente: {{rep.suplente}}</li>
        </ul>
        {% endfor %}
      </ul>

    </div>

    <div class="container">

      <h2 class="alert bg-dark text-light">Comissão de Coordenação do Curso de Engenharia de Materiais – CoC-EM</h2>

      <ul>
        <li> Coordenador: {% include docente.html docente=site.data.comissoes.coc-em.coordenador %} </li>
        <ul>
          <li> Vice: {% include docente.html docente=site.data.comissoes.coc-em.vice %} </li>
        </ul>
      </ul>

      <h3>Composição:</h3>

      <ul>
        {% for prof in site.data.comissoes.coc-em.membros %}
        <li>{% include docente.html docente=prof.titular %}
          <ul>
            <li>Suplente: {% include docente.html docente=prof.suplente %}</li>
          </ul>
        </li>
        {% endfor %}
        {% for rep in site.data.comissoes.coc-em.outros %}
        <li>{{ rep.titular }}</li>
        <ul>
          <li>Suplente: {{rep.suplente}}</li>
        </ul>
        {% endfor %}
      </ul>

    </div>

  </div>

</div>
