---
---

{% include head.html %}

<body>

{% include header.html %}

  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <div class="clearfix">
          <div class="alert alert-warning mt-2" role="alert">
            :warning: Devido à crise sanitária causada pela pandemia de COVID-19, o site encontra-se temporariamente hospedado no endereço <a href="https://computeel.org/Demar">https://computeel.org/DEMAR</a>, para onde você foi automaticamente redirecionado. Desculpe-nos por qualquer transtorno que isso possa causar.
          </div>
          {{ content }}
        </div>
      </div>
      <div class="col-lg-3 padding-0 hidden-xs">
        {% include sidebar.html %}
      </div>
    </div>
  </div>

<script type="text/javascript">
    // Javascript URL redirection
    // window.location.replace("//computeel.org/Demar");
</script>

{% include footer.html %}
